{
    apps : [ 
    {
      "name": "england",
      "script": "test-node/index.js",
      "watch": true,
      "ignore_watch": ["log", ".idea"],
      "args": "--port 8017 --network_id 17 --state_filename test-node/england.json",
      "merge_logs": true,
      "log_file" : "log/england.log"
    },{
      "name": "mexico",
      "script": "test-node/index.js",
      "watch": true,
      "ignore_watch": ["log", ".idea"],
      "args": "--port 8023 --network_id 23 --state_filename test-node/mexico.json",
      "merge_logs": true,
      "log_file" : "log/mexico.log"
    },{
      "name": "germany",
      "script": "test-node/index.js",
      "watch": true,
      "ignore_watch": ["log", ".idea"],
      "args": "--port 8029 --network_id 29 --state_filename test-node/germany.json",
      "merge_logs": true,
      "log_file" : "log/germany.log"
    },{
      "name": "validator",
      "script": "index.js",
      "watch": true,
      "ignore_watch": ["log", ".idea"],
      "args": "--port 8080",
      "merge_logs": true,
      "log_file" : "log/germany.log"
    }]
}
  